:root {
  --main-color: #0a1823;
  --second-color: #17797e;
  --third-color: #58ccc7;
  --light-color: #ffffff;
  --main-padding: 40px;
  --main-transition: 0.5s;
}
/* start global ruls */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
.main-cont {
  padding: 0 15px;
  margin: 0 auto;
}

/* end global ruls */
/* start compos */
.main-head {
  padding: 5px 10px;
  margin: 50px auto;
  min-width: 158px;
  width: fit-content;
  color: var(--second-color);
  border: 2px solid var(--main-color);
  position: relative;
  text-align: center;
}
.main-head::before,
.main-head::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--main-color);
  transform: rotate(45deg);
  z-index: -1;
}
.main-head::before {
  top: -9px;
  left: -9px;
}
.main-head:hover::before {
  animation: goleft 0.5s forwards;
  animation-timing-function: linear;
}
.main-head::after {
  bottom: -9px;
  right: -9px;
}
.main-head:hover::after {
  animation: goright 0.5s forwards;
  animation-timing-function: linear;
}
.main-head:hover {
  color: var(--third-color);
  border-color: var(--third-color);
  border-radius: 5px;
  transition: var(--main-transition);
  transition-delay: 0.3s;
}
/* end compos */
/* start header */
header {
  background-color: var(--main-color);
  box-shadow: 0 0 10px var(--third-color);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}
header .main-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .main-cont h1 {
  flex-basis: 30%;
  font-size: 50px;
  font-weight: bolder;
  color: var(--third-color);
  margin: 10px 0;
}
header .main-cont nav {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  height: 57px;
}
header .main-cont nav i {
  display: none;
  color: var(--third-color);
  font-size: 40px;
  cursor: pointer;
}
header .main-cont nav .mainLinks {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .main-cont nav .mainLinks li {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}
header .main-cont nav .mainLinks li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--third-color);
}
header .main-cont nav .mainLinks li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #7fddd81c;
}
header .main-cont nav .mainLinks li a {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: var(--second-color);
  z-index: 2;
}
header .main-cont nav .mainLinks li:hover::after,
header .main-cont nav .mainLinks li:hover::before,
header .main-cont nav .mainLinks li:hover a {
  width: 100%;
  transition: var(--main-transition);
  color: var(--third-color);
}
/* end header */
/* stat landing */
.landing {
  padding: var(--main-padding) 0;
  height: 87vh;
  position: relative;
  overflow: hidden;
}
.landing::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  z-index: -1;
  top: 0;
  left: 0;
  transform: skewY(15deg);
  transform-origin: right top;
}
.landing .main-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.landing .main-cont .img {
  flex-basis: 50%;
  position: absolute;
  top: -167px;
  right: 120px;
  width: 400px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
}
.landing .main-cont .img::before {
  content: "";
  width: 227px;
  height: 307px;
  position: absolute;
  bottom: -19px;
  left: 131px;
  border-radius: 50%;
  border-right: 11px solid var(--third-color);
  transform: rotate(41deg);
  z-index: 2;
}
.landing .main-cont .img::after {
  content: "";
  width: 385px;
  height: 318px;
  background-color: #0a182373;
  position: absolute;
  bottom: -5px;
  left: 0px;
}
.landing .main-cont .img img {
  width: 400px;
  height: 500px;
  border-radius: 50%;
}

.landing .main-cont .text {
  z-index: 1;
  flex-basis: 50%;
  color: var(--third-color);
  text-shadow: -13px 12px 4px black;
  margin-left: 80px;
}
.landing .main-cont .text h2 {
  font-size: 44px;
  margin-bottom: 5px;
}
.landing .main-cont .text p {
  font-weight: bold;

  font-size: 23px;
}
.landing .main-cont .text span {
  color: var(--light-color);
}
.landing .main-cont .text h3 {
  padding-left: 30px;
  margin: 10px 0;
  font-size: 30px;
}
.landing .main-cont .text .p2 {
  padding-left: 60px;
}
.landing .down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 33px;
}
.landing .down i {
  color: var(--second-color);
  transition: var(--main-transition);
  animation: pouncing 1.5s infinite;
}
.landing .down i:hover {
  color: var(--third-color);
}
/* end landings */
/* start about */
.about {
  padding: var(--main-padding) 0;
}
.about .aboutCont {
  padding: 0 var(--main-padding);
}
.about .qout {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  text-align: center;
}
.about .qout .main-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 30px 0;
}
.about .qout::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0a182342;
  width: 100%;
  height: 100%;
}
.about .qout img {
  border-radius: 50%;
  width: 166px;
  height: 177px;
  border-right: 3px solid var(--second-color);
  border-left: 3px solid var(--second-color);
}
.about .qout q {
  color: var(--light-color);
  font-size: 32px;
  font-weight: normal;
  border-right: 3px solid var(--second-color);
  z-index: 1;
  line-height: 1.6;
}
.about .qout .q2 {
  border: none;
}
.about .aboutCont .main-cont {
  padding: 30px 0;
}
.about .aboutCont .main-cont .box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.about .aboutCont .main-cont .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--second-color);
}
.about .aboutCont .main-cont .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: var(--second-color);
}
.about .aboutCont .main-cont .box:hover::after,
.about .aboutCont .main-cont .box:hover::before {
  width: 100%;
  transition: var(--main-transition);
}
.about .aboutCont .main-cont .box img {
  width: 250px;
  height: 300px;
  z-index: 1;
}
.about .aboutCont .main-cont .box .info {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 350px;
  max-width: 100%;
  z-index: 1;
}

.about .aboutCont .main-cont .box .info h2 {
  text-align: end;
  color: var(--second-color);
  font-size: 50px;
}
.about .aboutCont .main-cont .box:hover h2 {
  color: var(--third-color);
  transition: var(--main-transition);
}
.about .aboutCont .main-cont .box .info ul {
  padding-left: 20px;
}
.about .aboutCont .main-cont .box .info ul li {
  padding-top: 40px;
  font-weight: 300;
  font-size: 20px;
}
.about .aboutCont .main-cont .box:hover li {
  color: var(--light-color);
  transition: var(--main-transition);
}
.about .aboutCont .main-cont .box .info ul li a {
  text-decoration: none;
  font-weight: 900;
  color: var(--third-color);
}
.about .aboutCont .main-cont .box .info ul li a:hover {
  color: var(--main-color);
  transition: var(--main-transition);
}
/* end about */
/* start skills */
.skills {
  padding: var(--main-padding) 0;
}
.skills .main-cont {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.skills .main-cont img {
  width: 400px;
  height: 400px;
  max-width: 100%;
}
.skills .main-cont .skillsCont {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 50%;
  padding: 0 var(--main-padding);
}
.skills .main-cont .skillsCont .prog-hold {
  margin-bottom: 30px;
}
.skills .main-cont .skillsCont .prog-hold h4 {
  margin-bottom: 20px;
  color: var(--main-color);
}
.skills .main-cont .skillsCont .prog-hold .prog {
  background-color: #0a182331;
  height: 30px;
}
.skills .main-cont .skillsCont .prog-hold span {
  display: block;
  background-image: linear-gradient(
    45deg,
    var(--third-color),
    var(--second-color),
    var(--third-color),
    var(--second-color)
  );
  background-size: 400% 400%;
  position: relative;
  animation-direction: alternate;
  animation: chaneCollor 2s infinite;
  animation-timing-function: linear;
  height: 30px;
  position: relative;
}
.skills .main-cont .skillsCont .prog-hold span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: var(--second-color);
  color: white;
  width: 41px;
  padding: 3px;
  border-radius: 7px;
  text-align: center;
  top: -31px;
  right: -25px;
}
.skills .main-cont .skillsCont .prog-hold span::after {
  content: "";
  border: 11px solid;
  border-color: var(--second-color) transparent transparent;
  position: absolute;
  top: -11px;
  right: -12px;
}
/* end Skills */
/* start proto */
.portfolio {
  padding: var(--main-padding) 0;
}
.portfolio .main-cont {
  perspective: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.portfolio .main-cont .prot {
  max-width: 100%;
  height: 300px;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  position: relative;
  transform-style: preserve-3d;
}
.portfolio .main-cont .prot:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.241);
  transition: var(--main-transition);
}
/* .portfolio .main-cont .prot:hover {
  transform: rotateY(-180deg);
  transition: var(--main-transition);
} */
.portfolio .main-cont .prot .front {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  backface-visibility: hidden;
}
.portfolio .main-cont .prot .front::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: #17797e82;
  top: 0;
  left: 0;
  border-radius: 18px;
}
.portfolio .main-cont .prot .front:hover::before {
  height: 100%;
  transition: 0.3s;
}
.portfolio .main-cont .prot .front img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.portfolio .main-cont .prot .front .caption {
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0;
  bottom: -100%;
  /* padding: 20px; */
  background-color: #0a182375;
  transition: var(--main-transition);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 20px 20px;
}
.portfolio .main-cont .prot .front .caption button {
  padding: 10px;
  border-radius: 15px;
  border-color: var(--main-color);
  border: 1px solid;
  color: var(--main-color);
  cursor: pointer;
}
.portfolio .main-cont .prot .front .caption button:hover {
  background-color: var(--main-color);
  color: var(--third-color);
  border-left: var(--third-color);
  transition: var(--main-transition);
}
.portfolio .main-cont .prot .front:hover .caption {
  bottom: 0;
}
.portfolio .main-cont .prot .back {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.portfolio .main-cont .prot .back h2 {
  text-align: center;
  color: var(--main-color);
  font-size: 23px;
  margin-top: 18px;
}
.portfolio .main-cont .prot .back ul {
  list-style-type: none;
  width: 100%;
  height: 150px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.portfolio .main-cont .prot .back ul li {
  color: var(--main-color);
  font-weight: 500;
}
.portfolio .main-cont .prot .back ul li a {
  color: var(--second-color);
  text-decoration: none;
  font-weight: 700;
}
.portfolio .main-cont .prot .back ul li a:hover {
  color: var(--third-color);
}
.portfolio .main-cont .prot .back .btn0 {
  padding: 10px;
  background-color: var(--light-color);
  border-radius: 15px;
  border-color: var(--main-color);
  border: 1px solid;
  color: var(--main-color);
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
}
.portfolio .main-cont .prot .back .btn0:hover {
  background-color: var(--main-color);
  color: var(--third-color);
  border-left: var(--third-color);
  transition: var(--main-transition);
}
/* end porto */
/* start contact */
.contact {
  padding: var(--main-padding) 0px;
  background-color: var(--main-color);
}
.contact h1 {
  color: var(--third-color);
  border-bottom: 2px solid var(--third-color);
  padding-bottom: 20px;
  width: 158px;
  margin: 0 auto;
  text-align: center;
}
.contact .main-cont {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 50px;
}
.contact .main-cont .box1 {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 202px;
}
.contact .main-cont .box1 h3 {
  color: var(--third-color);
  font-size: 50px;
  margin: 0 0 20px;
  font-weight: bold;
}
.contact .main-cont .box1 .social {
  display: flex;
  padding: 0;
}
.contact .main-cont .box1 .social {
  list-style-type: none;
}
.contact .main-cont .box1 .social li {
  margin-right: 10px;
}
.contact .main-cont .box1 .social li a {
  background-color: var(--third-color);
  color: var(--light-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
  text-decoration: none;
}
.contact .main-cont .box1 .social .facebook:hover {
  background-color: #1877f2;
}

.contact .main-cont .box1 .social .twitter:hover {
  background-color: #1da1f2;
}

.contact .main-cont .box1 .social .gmail:hover {
  background-color: #ff0000;
}
.contact .main-cont .box1 .social .telegram:hover {
  background-color: #1877f2;
}
.contact .main-cont .box1 .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
.contact .main-cont .box1 .line i {
  font-size: 25px;
  color: var(--third-color);
  margin-right: 10px;
}
.contact .main-cont .box1 .line .info {
  line-height: 1.7;
  flex: 1;
}

.contact .main-cont .box1 .line .info span {
  display: block;
}

/* end contact*/
/* footer */
footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  border-top: 2px solid var(--second-color);
  color: var(--third-color);
  padding: var(--main-padding) 0;
}
/* Start anmation */
@keyframes pouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes goleft {
  0% {
    transform: translateX(0) rotate(45deg);
  }
  35% {
    transform: translateX(158px) rotate(405deg);
  }
  70% {
    transform: translateX(0) rotate(765deg);
    width: 16px;
    height: 16px;
  }
  80% {
    transform: rotate(360deg);
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
  }
  100% {
    transform: rotate(360deg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes goright {
  0% {
    transform: translateX(0) rotate(45deg);
  }
  35% {
    transform: translateX(-158px) rotate(405deg);
  }
  70% {
    transform: translateX(0) rotate(765deg);
    width: 16px;
    height: 16px;
  }
  80% {
    transform: rotate(360deg);
    bottom: 0;
    right: 0;
    height: 100%;
    width: 10px;
  }
  100% {
    transform: rotate(360deg);
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes chaneCollor {
  0% {
    background-position: 100% 50%;
  }
  /* 50% {
    background-position: 100% 50%;
  } */
  100% {
    background-position: 0 50%;
  }
}
